.login-box {
    position:relative;
    margin-top:25%;
    top: 50%;
    left: 50%;
    width: 27%;
    color:#7A0930;
    text-align: center;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.login.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #7A0930;
    font-size: 12px;
}

.login-box form a{
    text-align: center;
    position:relative;
    display: inline-block;
    padding: 10px 20px;
    color: #7A0930;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background: #7A0930;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px #7A0930,
                0 0 25px #7A0930,
                0 0 50px #7A0930,
                0 0 100px #7A0930;
}

.login-box a span{
    position: absolute;
    display: block;
}
